.DS_Store
Thumbs.db

.combined-go.sum
.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*

/example/metric/collector/metrics
/example/metric/collector/collector
/example/metric/sdk/metrics
/example/metric/sdk/sdk
/example/metric/otlpgrpc/otlpgrpc
/example/trace/otlpgrpc/otlpgrpc
/example/metric/exponential_histogram/exponential_histogram
/example/trace/otlphttp/otlphttp
/example/log/slogbridge/otel_logs
go.work
go.work.sum